.content img{
    width: 50px;
}
.content__post{
    display: flex;
    flex-direction: column;
}
.content__post button{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    margin-top: 5px;
    cursor: pointer;
}
.content__post textarea{
    width: 30%;
    border-radius: 10px;
}
.content__post button:focus, textarea:focus{
    outline: none;
}
.content__post{
    margin: 10px 10px 0 0;
}
.add__posts{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.add__posts span{
    font-size: 30px;
}