.nav{
    background-color: rgb(92, 92, 238);
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.items a{
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.items a:active, a.active{
    color: gold;
}
.items a:hover{
    cursor: pointer;
}