.item{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.item img{
    height: 50px;
    border-radius: 50px;
}
.item{
    background-color: rgb(115, 171, 255);
    padding: 20px;
    font-size: 20px;
}
.item span{
    font-size: 10px;
}
.post{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.207);
}