.app__wrapper{
    margin: 0 auto;
    max-width: 1560px;
    padding: 0 50px;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
    "h h"
    "n c";
}
*{
    box-sizing: border-box;
}
.app__wrapper-content{
    grid-area: c;
    background-color: rgb(130, 130, 211);
    position: relative;
}