
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar img{
    height: 60px;
    border-radius: 50px;
}
.friends{
    display: flex;
    flex-direction: row;
}
.friends a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    text-decoration: none;
    color: white;
}
.friends a:nth-last-child(1){
    margin-right:0px;
}
h3{
    color: white;
}